$font-size-normal: 14px;
$font-size-small: 12px;
$font-size-large: 18px;

$color-text: #231f20;
$color-gray: #999;
$color-red: #bb0000;

$color-link: darken(#caf2f2, 30%);
$color-link-hover: darken($color-link, 10%);

$transition-one: 0.15s ease;
$transition-two: 0.3s ease;
$transition-three: 0.45s ease;

/* -------------------------------------------------- */
/* Magnific Popup */
/* -------------------------------------------------- */

$mfp-overlay-color:                   #000 !default;
$mfp-overlay-opacity:                 0.8 !default;
$mfp-shadow:                          0 0 8px rgba(0, 0, 0, 0.6) !default; // shadow on image or iframe
$mfp-popup-padding-left:              8px !default; // Padding from left and from right side
$mfp-popup-padding-left-mobile:       6px !default; // Same as above, but is applied when width of window is less than 800px

$mfp-z-index-base:                    1040 !default; // Base z-index of popup
$mfp-include-arrows:                  true !default; // include styles for nav arrows
$mfp-controls-opacity:                1 !default;
$mfp-controls-color:                  #FFF !default;
$mfp-controls-border-color:           #3F3F3F !default;
$mfp-inner-close-icon-color:          #333 !default;
$mfp-controls-text-color:             #CCC !default; // Color of preloader and "1 of X" indicator
$mfp-controls-text-color-hover:       #FFF !default;
$mfp-IE7support:                      true !default; // Very basic IE7 support

// Iframe-type options
$mfp-include-iframe-type:             true !default;
$mfp-iframe-padding-top:              40px !default;
$mfp-iframe-background:               #000 !default;
$mfp-iframe-max-width:                900px !default;
$mfp-iframe-ratio:                    9/16 !default;

// Image-type options
$mfp-include-image-type:              true !default;
$mfp-image-background:                #444 !default;
$mfp-image-padding-top:               40px !default;
$mfp-image-padding-bottom:            40px !default;
$mfp-include-mobile-layout-for-image: true !default; // Removes paddings from top and bottom

// Image caption options
$mfp-caption-title-color:             #F3F3F3 !default;
$mfp-caption-subtitle-color:          #BDBDBD !default;

// A11y
$mfp-use-visuallyhidden:              false !default; // Hide content from browsers, but make it available for screen readers 